/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-family: 'Inter-Variable', sans-serif;
    --accent-family: 'PressStart2P-Regular', sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --page-background-image: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px), repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px), repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --text-color: #000;
    --heart-fill-none: none;
    --heart-fill-red: #FF0000;
    --heart-fill-white: #fff;
    --heart-fill-black: #000;
}